#upload-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
#upload-options {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#upload-options span {
  text-align: center;
  font-size: 2.1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: #fff 2px solid;
  border-radius: 5px;
  transition: all 0.2s;
}
#upload-options span:hover {
  border: rgb(125, 134, 139) 2px solid;
  color: rgb(3, 105, 161);
  background-color: rgb(208, 228, 238);
  cursor: pointer;

}

.uploaded-container {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
    background-color: rgba(175, 224, 235, 0.383);
  border: #fff solid 2px;
  border-radius: 10px;
}
#types-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploaded-container h2 {
  padding: 1rem;
  color: rgb(3, 105, 161);
  font-size: 2.4rem;

}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-container label{
    color: rgb(3, 105, 161);
    font-weight: bold;
}

.info-container input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid rgb(3, 105, 161);
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  width: 30rem;
  height: 36px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-container input:hover {
  border-color: #ccc;
}

.info-container input:focus {
  border-color: rgb(3, 105, 161);
  background: #fff;
}

.uploaded-container form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.upload-button{
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: rgb(3, 105, 161);
    border-radius: 0.25rem;
    border: 1px solid rgb(3, 105, 161);
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    height: 3rem;


}
.upload-button:hover {
    background-color: #005fb2;  
    border-color: #005fb2;
} 

#dontSingIn{
  color:white;
}

#error_image{
  width: 7rem;
  
}

#loader_adminPanel{
  position: absolute;
  font-size: 3.5rem;
  color: rgb(3 62 95 / 76%);
  left: 43%;
  top: 29%;
}
#container-check{
  position: absolute;
  top: 29%;
  left: 45%;
  font-size: 3.2rem;
  color: #3bbf21;
}


.container-information{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;

}

#loader-information{
 margin-top: 10px;   
 color: white;
 font-size: 40px;
 margin-bottom: 10px;
}

.card3 h3 {
  color: #005fb2;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.card3 p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #4989c2;
}
.card3 p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  border-radius: 0 4px 0 32px;
  background-color: #005fb2;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}


.card3 {
  top: 0px;
  position: relative;
  max-width: 262px;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  background-color: #f2f8f9;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;

}
.card3 .go-corner {
  opacity: 0.7;
}
.card3:hover {
  border: 1px solid #005fb2;
  z-index: 500;
  background-image: none;
}

.card3:hover p{
  color: #005fb2;
}
.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card3:hover .go-corner{
  transition: all 0.3s ease-out;
  width: 100%;
  height: 20%;
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 0;
   font-size: 2rem;
   font-weight: bold;
   padding-left:1rem ;
}

.container-button-option{
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.edit-button,.delete-button{
  display: none;
  cursor: pointer;
    padding: 0 16px;
    background-color: rgb(3, 105, 161);
    border-radius: 0.25rem;
    border: 1px solid rgb(3, 105, 161);
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    height: 2rem;
}

.edit-button:hover,.delete-button:hover{
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #fff;
  color: rgb(3, 105, 161);
  border: 1px solid rgb(3, 105, 161);
}

#edit-form{
  position: relative;
}

#edit-form label{
  color: #0369a1;
  font-size: 1.5rem;
}

#edit-form input{
  height: 2rem;
    border: #4597bd 1px solid;
    border-radius: 6px;
    padding-left: 15px;
    color: #4597bd;
    font-family: sans-serif;
    font-size: 12px;
    margin:6px;
}

#edit-form button{
  cursor: pointer;
  padding: 0 16px;
  background-color: rgb(3, 105, 161);
  border-radius: 0.25rem;
  border: 1px solid rgb(3, 105, 161);
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  height: 2rem;
}

#save-edit{
  margin-bottom:5px;
}



* {
  transition: all 0.3s ease-out;
}




@media (max-width:780px) {

  .info-container input {

    width: auto;
   
  }
}
