#upload-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
#upload-options {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#upload-options span {
  text-align: center;
  font-size: 2.1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: #fff 2px solid;
  border-radius: 5px;
  transition: all 0.2s;
}
#upload-options span:hover {
  border: rgb(125, 134, 139) 2px solid;
  color: rgb(3, 105, 161);
  background-color: rgb(208, 228, 238);
  cursor: pointer;

}

.uploaded-container {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
    background-color: rgba(175, 224, 235, 0.383);
  border: #fff solid 2px;
  border-radius: 10px;
}
#types-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploaded-container h2 {
  padding: 1rem;
  color: rgb(3, 105, 161);
  font-size: 2.4rem;

}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-container label{
    color: rgb(3, 105, 161);
    font-weight: bold;
}

.info-container input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid rgb(3, 105, 161);
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  width: 30rem;
  height: 36px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-container input:hover {
  border-color: #ccc;
}

.info-container input:focus {
  border-color: rgb(3, 105, 161);
  background: #fff;
}

.uploaded-container form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.upload-button{
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: rgb(3, 105, 161);
    border-radius: 0.25rem;
    border: 1px solid rgb(3, 105, 161);
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    height: 3rem;


}
.upload-button:hover {
    background-color: #005fb2;  
    border-color: #005fb2;
} 

#dontSingIn{
  color:white;
}

#error_image{
  width: 7rem;
  
}

#loader_adminPanel{
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  left: 10rem;
  top: 10px;
}
#container-check{
  position: absolute;
  top:0.5rem;
  left:20rem;
  font-size: 1.2rem;
  color:#3bbf21;
}


.container-information{
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;

}

/* h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
p.small {
  font-size: 14px;
} */

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}


.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}
.card3 .go-corner {
  opacity: 0.7;
}
.card3:hover {
  border: 1px solid #00838d;
  /* box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5); */
  background-image: url('../images//news-1.PNG');
  z-index: 500;
}

.card3:hover p {
  color: #00838d;
}
.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}




* {
  transition: all 0.3s ease-out;
}




@media (max-width:780px) {

  .info-container input {

    width: auto;
   
  }
}

@media (max-width:837px) {
  .container-information{
    display: grid;
    grid-template-columns: 1fr;
  }
}